h1 {
    position: fixed;
    left: 45%;
    top: 7%;
    padding: 50px 56px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

p {
    position: fixed;
    left:10%;
    top: 50%;
    font-family: Arial, Helvetica, sans-serif: bold;
    font-size: 150%;
    color: black;
    text-align: center;
}